body {
	font-family: Arial, sans-serif;
	margin: 0;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/Default_A_breathtaking_view_of_a_misty_valley_with_rolling_hil_0.jpg);
    background-size: cover;
    z-index: -1;
}

.container {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 90%;
	max-width: 600px;
	margin: 20px auto;
	position: relative; /* Dodane */
	z-index: 1; /* Dodane */
	overflow-y: auto; /* Dodane */
	height: calc(100vh - 40px); /* Dodane */
}

h1,
h2 {
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
}

form {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-top: 10px;
}

select {
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	box-sizing: border-box;
}

button {
	margin-top: 20px;
	width: calc(50% - 5px); /* Zmodyfikowane */
	padding: 10px;
	background-color: #5c8049;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #5c8049b8;
}

.scrollable-table {
    overflow-y: auto;
    max-height: 300px; /* Przykładowa wartość dla wysokości tabeli */
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

th {
	background-color: #f4f4f4;
}

/* Responsive Design */
/* Małe urządzenia (s) */
@media (max-width: 576px) {
    /* Miejsce na reguły CSS dla małych urządzeń */
    body {
        font-size: 14px;
    }
    .container {
        max-width: 100%;
        padding: 10px;
    }
    select,
    button {
        padding: 8px;
        font-size: 14px;
    }
}

/* Średnie urządzenia (m) */
@media (min-width: 576px) and (max-width: 768px) {
    /* Miejsce na reguły CSS dla średnich urządzeń */
    body {
        font-size: 16px;
    }
    .container {
        max-width: 100%;
        padding: 15px;
    }
    select,
    button {
        padding: 10px;
        font-size: 16px;
    }
}

/* Duże urządzenia (l) */
@media (min-width: 768px) and (max-width: 992px) {
    /* Miejsce na reguły CSS dla dużych urządzeń */
    body {
        font-size: 18px;
    }
    .container {
        max-width: 90%;
        padding: 20px;
    }
    select,
    button {
        padding: 12px;
        font-size: 18px;
    }
}

/* Bardzo duże urządzenia (xl) */
@media (min-width: 992px) {
    /* Miejsce na reguły CSS dla bardzo dużych urządzeń */
    body {
        font-size: 20px;
    }
    .container {
        max-width: 1200px;
        padding: 30px;
    }
    select,
    button {
        padding: 14px;
        font-size: 20px;
    }
}
